.btn {
    border: 2px solid #A5FFAF;
    background-color: #A5FFAF;
    color: #000;
    padding: 0.8em 0;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    margin-top: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn svg {
    font-size: 1.2em;
}

.btn:hover {
    color: #A5FFAF;
    background-color: transparent;
}