#root {
  padding: 2rem 0;
  text-align: center;
}

.app{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.card {
  width:400px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output {
  background-color: #24232A;
  padding: 1em;
  margin: 1em 0;
}

.output input {
  background-color: transparent;
  width: 90%;
  font-size: 1.3em;
  font-weight: 600;
  color: #fff;
  border: 0;
  outline: 0;
}

.output svg {
  font-size: 1.3em;
  cursor: pointer;
  fill: #A5FFAF;
  transition: .3s;
}

.output svg:hover {
  fill: #fff;
}

.infos {
  background-color: #24232A;
  color: white;
  padding: 1em;
  text-align: left;
}


.length p {
  font-weight: 600;

}

.length span {
  font-size: 2em;
  font-weight: 600;
  color: #A5FFAF;
}

.gg{
  font-weight: 600;
  margin-top: .5em;
}